<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Lesson Plans</h2>
<a href="/new"><button>New</button></a>

<table>
  <tr>
    <th>Department</th>
    <th>Subject</th>
    <th>Course</th>
    <th>Name</th>
    <th>Tier</th>
    <th>Grade</th>
    <th>Description</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  {% for item in data %}
  <tr id={{item.id}}>
    <td>{{item.department}}</td>
    <td>{{item.subject}}</td>
    <td>{{item.course}}</td>
    <td>{{item.name}}</td>
    <td>{{item.tier}}</td>
    <td>{{item.grade}}</td>
    <td>{{item.description}}</td>
    <td><a href="{{ '/view/%s'%item.id|urlencode }}"><button>View</button></a></td>
    <td><a href="{{ '/edit/%s'%item.id|urlencode }}"><button>Edit</button></a></td>
    <td><a href="{{ '/delete/%s'%item.id|urlencode }}"><button>Delete</button></a></td>
  </tr>
  {% endfor %}
</table>

</body>
</html>
